*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #7fffd4;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin: 30px;
}
p{
    text-align: center;
    font-size: 30px;
    display: none;
}
/* Media Query */
@media screen and (max-width: 1440px) {
    body{
        background-color: #a52a2a;
    }
    .large-laptop{
        display: block;
    }
}
@media screen and (max-width: 1024px) {
    body{
        background-color: #deb887;
    }
    .laptop{
        display: block;
    }
    .large-laptop{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    body{
        background-color: #add8e6;
    }
    .tablet{
        display: block;
    }
    .large-laptop , .laptop {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    body{
        background-color: #f08080;
    }
    .mobile{
        display: block;
    }
    .large-laptop , .laptop , .tablet{
        display: none;
    }
}